@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: #8BACDA;
    --cyan: #00FFF7;
    --main-background: #0D192B;
    --card-background: #14253D;
    --line: #2F415B;
}

*,
*::before,
*::after {
    box-sizing: border-box;
   
}
  
html {
    font-size: 18px;
}
  
body {
    font-family: 'Outfit', sans-serif;
    color: var(--soft-blue); 
    background-color: var(--main-background);
    vertical-align: middle;
}
  
html,
body {
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
}

.container {
  margin: auto;
  top: 50%;
  left: 50%;
}

.card {
    max-width:350px;
    margin: auto;
    padding: 1.2rem;
    border-radius: 0.8rem;
    transition: all 0.5s linear;
    background-color: var(--card-background);
    
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}

.card__image {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.card__image img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    height: auto;
}

.card__image-overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--cyan);
    border-radius: 0.5rem;
}

.card__image-overlay--icon {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card__image:hover .card__image-overlay {
    cursor: pointer;
    opacity: 1;
    opacity: 0.7;
}

.card__body-title {
    color: white;
    font-weight: 600;
}

.card__body-content {
    font-weight: lighter;
    color: var(--soft-blue);
}

.card__body-price {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.card__body-price--eth, .card__body-price--eth span {
    display: inline-block;
    vertical-align:middle;
    color: var(--cyan);
}

.card__body-price--time, .card__body-price--time span {
    display: inline-block;
    vertical-align:middle;
}

.line {
    border: 1px solid var(--line);
}

.card__footer {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 300;
}

.card__footer span {
    color: white;
}

.card__footer a, .attribution a {
    text-decoration: none;
    color: var(--soft-blue);
}

.card__footer img {
    width: 32px;
    height: 32px;
    margin-right: 0.75rem;
    border: 1px solid white;
    border-radius: 50%;
}

.card__body-title:hover, .card__footer span:hover, .attribution a:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution {
    text-align: center;
    margin: 1rem;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .attribution {
        display: none;
    }
  }
